# Dependências do Node.js
node_modules/

# Diretório de saída do TypeScript
dist/

# Arquivos de ambiente
.env

# Relatórios de cobertura de testes
coverage/

# Arquivos de lock
bun.lockb
package-lock.json
yarn.lock

# Logs
*.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações do editor/IDE
.vscode/
.idea/
